@model HoojaWeb.ViewModels.User.UserPostViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Create User</h1>
                    <form asp-action="Create" method="post">
                        <div class="form-group">
                            <label for="FirstName">First Name:</label>
                            <input type="text" id="FirstName" name="FirstName" class="form-control" value="@Model.FirstName" required>
                        </div>
                        <div class="form-group">
                            <label for="LastName">Last Name:</label>
                            <input type="text" id="LastName" name="LastName" class="form-control" value="@Model.LastName" required>
                        </div>
                        <div class="form-group">
                            <label for="UserName">Username:</label>
                            <input type="text" id="UserName" name="UserName" class="form-control" value="@Model.UserName" required>
                        </div>
                        <div class="form-group">
                            <label for="Email">Email:</label>
                            <input type="email" id="Email" name="Email" class="form-control" value="@Model.Email" required>
                        </div>
                        <div class="form-group">
                            <label for="SecurityNumber">Security Number:</label>
                            <input type="text" id="SecurityNumber" name="SecurityNumber" class="form-control" value="@Model.SecurityNumber" required>
                        </div>
                        <div class="form-group">
                            <label for="PasswordHash">Password:</label>
                            <input type="password" id="PasswordHash" name="PasswordHash" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
