@using HoojaWeb.ViewModels.PostNord;
@using HoojaWeb.ViewModels.Product
@model List<ProductsViewModel>
@{
    ViewData["Title"] = "Order Details";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Login" asp-action="Index">Login</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Login" asp-action="CustomerView">My Page</a></li>
        <li class="breadcrumb-item active" aria-current="page">Order Details</li>
    </ol>
</nav>

<section class="h-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-8">
                <div class="card" style="border-radius: 10px;">
                    <div class="card-header px-4 py-5">
                        <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: #196D69;">@User.Identity.Name</span>!</h5>
                    </div>
                    <div class="card-body p-4">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0" style="color: #196D69;">Receipt</p>
                            <p class="small text-muted mb-0">Receipt Voucher : 1KAU9-84UIL</p>
                        </div>
                        @foreach(var product in Model)
                        {
                            <div class="card shadow-0 border mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="@product.ProductPicture"
                                                 class="img-fluid" alt="@product.ProductTypeName" />
                                        </div>
                                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0">@product.ProductName</p>
                                        </div>
                                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small">@product.ProductTypeName</p>
                                        </div>
                                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small">Qty: @product.TotalAmount</p>
                                        </div>
                                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            @{
                                                var price = product.TotalAmount * product.Price;
                                            }
                                            <p class="text-muted mb-0 small">@price kr</p>
                                        </div>
                                    </div>
                                    <hr class="mb-4" style="background-color: #196D69; opacity: 1;">
                                </div>
                            </div>
                        }

                        @{
                            var postNord = ViewData["PostnordResp"] as PostNordResultViewModel;
                        }

                        <div class="d-flex justify-content-between pt-2">
                            <p class="fw-bold mb-0">Order Details</p>
                            @{
                                int total = 0;
                                decimal discountPrice = 0;
                                decimal discount = 0;
                            }
                            @foreach (var item in Model)
                            {
                                total += item.Price * item.TotalAmount;
                            }
                            @if (Model.Any(item => item.DiscountPercentage != null))
                            {
                                discount = total * (Model.First().DiscountPercentage ?? 0) / 100;
                                discountPrice = total - discount;
                            }
                            @if (discountPrice == 0)
                            {
                                <p class="text-muted mb-0"><span class="fw-bold me-5">Total</span> @total,00 kr</p>
                            }
                            else
                            {
                                <p class="mb-2">@discountPrice kr</p>
                            }
                            <p class="text-muted mb-0"><span class="fw-bold me-5">Total</span> @total,00 kr</p>
                        </div>

                        <div class="d-flex justify-content-between pt-2">
                            <p class="text-muted mb-0">Invoice Number : 788152</p>
                            <p class="text-muted mb-0"><span class="fw-bold me-5">Discount</span> @discount kr</p>
                        </div>

                        <div class="d-flex justify-content-between">
                            @{
                                var date = DateTime.Now.Date.ToString("yyyy-MM-dd");
                            }
                            <p class="text-muted mb-0">Invoice Date : @date</p>
                            @{
                                decimal afterTax = 0;
                            }
                            @foreach (var item in Model)
                            {
                                afterTax += (int)(item.Price * item.TotalAmount * 0.25);
                            }
                            <p class="text-muted mb-0"><span class="fw-bold me-5">Moms 25%</span> @afterTax kr</p>
                        </div>

                        <div class="d-flex justify-content-between mb-5">
                            <p class="text-muted mb-0">Recepits Voucher : 18KU-62IIK</p>
                            <p class="text-muted mb-0"><span class="fw-bold me-5">Delivery Charges</span> Free</p>
                        </div>
                        @{
                            DateTime delivDate = DateTime.ParseExact(postNord.deliveryDate, "yyyyMMdd", null);
                        }
                        <div class="d-flex justify-content-between pt-2">
                            <p class="text-success mb-0">Expected to arrive : @delivDate.ToString("yyyy-MM-dd")</p>
                            <p class="text-success mb-0">Arriving in : @postNord.transitTimeInDays days</p>
                        </div>
                    </div>
                    <div class="card-footer border-0 px-4 py-5"
                         style="background-color: #196D69; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                        <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">

                            Total charged: 
                            @if (discountPrice == 0)
                            {
                                <span class="h2 mb-0 ms-2">@total kr</span>
                            }
                            else
                            {
                                <span class="h2 mb-0 ms-2">@discountPrice kr</span>
                            }
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>