@using HoojaWeb.ViewModels.Product
@model AddProductViewModel

@{
    ViewData["Title"] = "Create product";
}

<!-- Breadcrumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Products" asp-action="Index">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add new product</li>
    </ol>
</nav>
<!-- Breadcrumbs end -->

<div class="container container-fluid mt-5 container-lightblue">
    <div class="text-center mt-2">
        <h2>Add new product</h2>
        <hr />
    </div>

    <div class="row my-3 mx-3">
        <div class="col-md-5 mt-4">
            <img src="https://images.pexels.com/photos/8467970/pexels-photo-8467970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="frame-img" />
        </div>

        <div class="col-md-7">
            <form method="post" asp-action="CreateProduct" class="row g-3">

                    <div class="form-group col-md-12">
                    <br />
                        <label for="productName" class="form-label form-label-custom">Product Name:</label>
                        <input type="text" class="form-control" id="productName" name="ProductName" value="@Model.ProductName" required>
                    </div>


                    <div class="form-group col-md-12">
                        <label for="productPicture" class="form-label form-label-custom">Product Picture:</label>
                        <input type="text" class="form-control" id="productPicture" name="ProductPicture" value="@Model.ProductPicture">
                    </div>

                    <div class="form-group col-md-12">
                        <label for="FK_ProductTypeId" class="form-label form-label-custom">Product Type:</label>
                        <select class="form-select custom-productTypeDropdown" id="FK_ProductTypeId" name="FK_ProductTypeId">
                            @foreach (var item in Model.ProductTypeList)
                            {
                                <option value="@item.ProductTypeId">@item.ProductTypeName</option>
                            }
                        </select>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="productDescription" class="form-label form-label-custom">Product Description:</label>
                        <textarea class="form-control" id="productDescription" name="ProductDescription" rows="4" required>@Model.ProductDescription</textarea>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="quantityStock" class="form-label form-label-custom">Quantity in Stock:</label>
                        <input type="number" class="form-control" id="quantityStock" name="QuantityStock" value="@Model.QuantityStock" required>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="price" class="form-label form-label-custom">Price:</label>
                        <input type="number" class="form-control" id="price" name="Price" value="@Model.Price" required>
                    </div>

                <hr />
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-block">Create</button>
                </div>
            </form>

        </div>
    </div>
</div>