@using HoojaWeb.ViewModels.Product
@model AddProductViewModel

<style>
    .faded {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
    }

    .form-label-custom {
        font-weight: bold;
        color: #00B894;
    }
</style>

<div class="container">
    <h2 class="text-center text-white mb-3">Edit Product</h2>
    <div class="row justify-content-center">
        <div class="col-md-6 p-4 faded">
            <form method="post" asp-action="CreateProduct" class="row g-3">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="productName" class="form-label form-label-custom">Product Name:</label>
                        <input type="text" class="form-control" id="productName" name="ProductName" value="@Model.ProductName" required>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="productPicture" class="form-label form-label-custom">Product Picture:</label>
                        <input type="text" class="form-control" id="productPicture" name="ProductPicture" value="@Model.ProductPicture">
                    </div>
                </div>

                <div class="col-md-11">
                    <div class="form-group">
                        <label for="FK_ProductTypeId" class="form-label form-label-custom">Product Type:</label>
                        <select class="form-select" id="FK_ProductTypeId" name="FK_ProductTypeId">
                            @foreach (var item in Model.ProductTypeList)
                            {
                                <option value="@item.ProductTypeId">@item.ProductTypeName</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-11">
                    <div class="form-group">
                        <label for="productDescription" class="form-label form-label-custom">Product Description:</label>
                        <textarea class="form-control" id="productDescription" name="ProductDescription" rows="4" required>@Model.ProductDescription</textarea>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="quantityStock" class="form-label form-label-custom">Quantity in Stock:</label>
                        <input type="number" class="form-control" id="quantityStock" name="QuantityStock" value="@Model.QuantityStock" required>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="price" class="form-label form-label-custom">Price:</label>
                        <input type="number" class="form-control" id="price" name="Price" value="@Model.Price" required>
                    </div>
                </div>

                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-block">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>