@*@using HoojaWeb.Models*@
@using HoojaWeb.ViewModels.CampaignCode

@model IEnumerable<CampaignCodeViewModel>

    @{
        var campaign = ViewData["Campaigns"] as List<CampaignCodeViewModel>;
    }

    <div class="bg-light">
       <table class="table">
           <thead>
               <tr>
                   <td>@Html.DisplayNameFor(model => model.CampaignCodeId)</td>
                   <td>@Html.DisplayNameFor(model => model.CampaignName)</td>
                   <td>@Html.DisplayNameFor(model => model.CampaignStart)</td>
                   <td>@Html.DisplayNameFor(model => model.CampaignEnd)</td>
               </tr>
           </thead>
           <tbody>
        @foreach (var item in campaign)
        {
            <tr>
                <td>@item.CampaignCodeId</td>
                <td>@item.CampaignName</td>
                <td>@item.CampaignStart</td>
                <td>@item.CampaignEnd</td>
            </tr>
        }
    </tbody> 
       </table>
</div>