@using HoojaWeb.ViewModels.Product
@model List<ProductsViewModel>

@{
    ViewData["Title"] = "Shopping cart";
    int idOfItem = 0;
}



<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
    </ol>
</nav>
<div class="container">

    <!-- cart + summary -->
    <section class="bg-light my-5">
        <div class="container">
            <div class="row">
                <!-- cart -->
                <div class="col-lg-9">
                    <div class="card border shadow-0">
                        <div class="m-4">
                            <h4 class="card-title mb-4">Your shopping cart</h4>
                            @foreach(var item in Model)
                            {
                                <div class="row gy-3 mb-4">
                                    <div class="col-lg-5">
                                        <div class="me-lg-5">
                                            <div class="d-flex">
                                                <img src="@item.ProductPicture" class="border rounded me-3" style="width: 96px; height: 96px;" />
                                                <div class="">
                                                    <a href="#" class="nav-link">@item.ProductName</a>
                                                    <p class="text-muted">@item.ProductTypeName</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap">
                                        <div class="">
                                            <select id="quantityDropdown-@item.ProductId" style="width: 120px;" class="form-select me-4">
                                                @for (int i = 1; i <= item.QuantityStock; i++)
                                                {
                                                    @if (item.TotalAmount == i)
                                                    {
                                                        <option value="@i" selected>@i</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                }
                                            </select>

                                        </div>
                          
                                        <div class="">
                                            @{
                                                var price = item.TotalAmount * item.Price;
                                            }
                                            <text class="h6">@price kr</text> <br />
                                            <small class="text-muted text-nowrap"> @item.Price kr / per item </small>
                                        </div>
                                    </div>
                                    <div class="col-lg col-sm-6 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2">
                                        <div class="float-md-end">
                                            <a id="removeItem-@item.ProductId" data-value="@item.TotalAmount" asp-action="Index" asp-controller="ShoppingCart" asp-route-removeItem="@item.ProductId" class="btn btn-light border text-danger icon-hover-danger">
                                                Remove
                                                </a>
                                        </div>
                                    </div>
                                </div>
                                @if (item.TotalAmount > item.QuantityStock)
                                {
                                    <p>You fucked up brooo!</p>
                                }
                            }
                        </div>

                        <div class="border-top pt-4 mx-4 mb-4">
                            <p><i class="fas fa-truck text-muted fa-lg"></i> Free Delivery within 2-5 days</p>
                            <p class="text-muted">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip
                            </p>
                        </div>
                    </div>
                </div>
                <!-- cart -->
                <!-- summary -->
                <div class="col-lg-3">
                    <div class="card mb-3 border shadow-0">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label class="form-label">Have coupon?</label>
                                    <div class="input-group  px-2 py-2">
                                        <input type="text" class="form-control border" name="" placeholder="Coupon code" />
                                        <br />
                                        <button class="btn btn-primary border">Apply</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card shadow-0 border">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Total price:</p>
                                @{
                                    int total = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    total += item.Price * item.TotalAmount;
                                }
                                <p class="mb-2">@total kr</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Discount:</p>
                                <p class="mb-2 text-success">-$60.00</p>
                            </div>
                            @*Foreach with the Model and then if-statement to check if coupon code exists and if so apply the math.*@
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">TAX:</p>
                                @{
                                    decimal afterTax = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    afterTax += (int)(item.Price * item.TotalAmount * 0.25);
                                }
                                <p class="mb-2">@afterTax kr</p>
                            </div>
                            <hr />
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Total price:</p>
                                <p class="mb-2 fw-bold">@total kr</p>
                            </div>

                            <div class="mt-3">
                                <form asp-action="OrderDetailsCustomer" asp-controller="Login" asp-route-postNumber="postNumber">
                                    <span>Enter post number:</span>
                                    <input type="text" name="postNumber" placeholder="ex. 12345" class="mb-3" required pattern="\d{5}">
                                    <button type="submit" class="btn btn-primary yellow w-100 shadow-0 mb-2">Make Purchase</button>
                                </form>

                                <a href="#" class="btn btn-primary w-100 border mt-2"> Back to shop </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- summary -->
            </div>
        </div>
    </section>
    <!-- cart + summary -->
    <section>
        <div class="container my-5">
            <header class="mb-4 container-white">
                <h3>Coming soon</h3>
            </header>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card px-4 border shadow-0 mb-4 mb-lg-0 h-100">
                        <div class="mask px-2" style="height: 50px;">
                            <div class="d-flex justify-content-between">
                                <h6><span class="badge bg-danger pt-1 mt-3 ms-2">New</span></h6>
                                <a href="#"><i class="fas fa-heart text-primary fa-lg float-end pt-3 m-2"></i></a>
                            </div>
                        </div>
                        <a href="#" class="">
                            <img src="./css/Images/P1.jpg" class="card-img-top rounded-2" alt="Product picture" />
                        </a>
                        <div class="card-body d-flex flex-column pt-3 border-top">
                            <a href="#" class="">Hare|Care set</a>
                            <div class="price-wrap mb-2">
                                <strong class="">299 kr</strong>
                                <del class="">699 kr</del>
                           </div>   
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card px-4 border shadow-0 mb-4 mb-lg-0 h-100">
                        <div class="mask px-2" style="height: 50px;">
                            <a href="#"><i class="fas fa-heart text-primary fa-lg float-end pt-3 m-2"></i></a>
                        </div>
                        <a href="#" class="">
                            <img src="./css/Images/P5.jpg" class="card-img-top rounded-2" alt="Product picture" />
                        </a>
                        <div class="card-body d-flex flex-column pt-3 border-top">
                            <a href="#" class="">Set with shampoo, conditioner and hair mask </a>
                            <div class="price-wrap mb-2">
                                <strong class="">499 kr</strong>
                            </div>                        
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card px-4 border shadow-0 h-100">
                        <div class="mask px-2" style="height: 50px;">
                            <a href="#"><i class="fas fa-heart text-primary fa-lg float-end pt-3 m-2"></i></a>
                        </div>
                        <a href="#" class="">
                            <img src="./css/Images/P6.jpg" class="card-img-top rounded-2" alt="Product picture" />
                        </a>
                        <div class="card-body d-flex flex-column pt-3 border-top">
                            <a href="#" class="">Hair mask</a>
                            <div class="price-wrap mb-2">
                                <strong class="">149 kr</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card px-4 border shadow-0 h-100">
                        <div class="mask px-2" style="height: 50px;">
                            <a href="#"><i class="fas fa-heart text-primary fa-lg float-end pt-3 m-2"></i></a>
                        </div>
                        <a href="#" class="">
                            <img src="./css/Images/P9.jpg" class="card-img-top rounded-2" alt="Product picture" />
                        </a>
                        <div class="card-body d-flex flex-column pt-3 border-top">
                            <a href="#" class="">Hair kit </a>
                            <div class="price-wrap mb-2">
                                <strong class="">299 kr</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Recommended -->
</div>
<script>
    $(document).ready(function () {
        // Function to retrieve the value of a cookie by name
        function getCookie(name) {
            var cookieArr = document.cookie.split(';');
            for (var i = 0; i < cookieArr.length; i++) {
                var cookiePair = cookieArr[i].split('=');
                if (name === cookiePair[0].trim()) {
                    return decodeURIComponent(cookiePair[1]);
                }
            }
            return null;
        }

        // Function to update the cart item in the 'cartItems' cookie
        function updateCartItem(cartItems, itemId, selectedQuantity) {
            var cartItemsObj = JSON.parse(cartItems || '{}');
            cartItemsObj[itemId] = parseInt(selectedQuantity);
            return JSON.stringify(cartItemsObj);
        }

        // Function to update the cart counter in localStorage and on the page
        function updateCartCounter(cartCounter) {
            localStorage.setItem('cartCounter', cartCounter);
            $("#cartCounter").text(cartCounter);
        }

        $('select[id^="quantityDropdown"]').change(function () {
            var selectedQuantity = $(this).val();
            var itemId = $(this).attr('id').split('-')[1];

            var cartItems = getCookie('cartItems');
            console.log(cartItems);

            var updatedCartItems = updateCartItem(cartItems, itemId, selectedQuantity);
            document.cookie = 'cartItems=' + updatedCartItems + '; path=/';

            var cartCounter = 0;
            if (updatedCartItems !== null) {
                var cartItemsObj = JSON.parse(updatedCartItems);
                for (var key in cartItemsObj) {
                    cartCounter += cartItemsObj[key];
                }
            }

            updateCartCounter(cartCounter);
        });

        // Update the cart counter when the page loads
        var storedCartCounter = localStorage.getItem('cartCounter');
        if (storedCartCounter !== null) {
            $("#cartCounter").text(storedCartCounter);
        } else {
            updateCartCounter(0);
        }

        function getCartCounter() {
            var total = localStorage.getItem('cartCounter');
            return parseInt(total);
        }

        $('a[id^="removeItem"]').click(function () {
            var selectedQuantity = getCookie('cartItems');
            var itemId = $(this).attr('id').split('-')[1];
            var parsedQuantity = JSON.parse(selectedQuantity);
            var total = getCartCounter();
            total = total - parsedQuantity[itemId];

            updateCartCounter(total);
        });
    });
</script>