@model HoojaWeb.Models.PostNord.PostNordRequestModel
@using HoojaWeb.ViewModels.PostNord

<h1>PostNord API - Transit Time Information</h1>

<div class="container">
    <div class="card text-center mt-5">
        <div class="card-header">
            <h1>Transit Time Calculation</h1>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("GetTransitTimeInformation", "PostNord", FormMethod.Post))
            {
                <div class="form-group">
                    <label asp-for="FromAddressPostalCode">From Postal Code:</label>
                    <input asp-for="FromAddressPostalCode" class="form-control" id="origin" />
                    <span asp-validation-for="FromAddressPostalCode" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ToAddressPostalCode">To Postal Code:</label>
                    <input asp-for="ToAddressPostalCode" class="form-control" id="destination" />
                    <span asp-validation-for="ToAddressPostalCode" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DateOfDeparture">Date:</label>
                    <input asp-for="DateOfDeparture" class="form-control" id="dateOfDeparture" />
                    <span asp-validation-for="DateOfDeparture" class="text-danger"></span>
                </div>


                <!-- Add other input fields for the remaining request parameters -->

                <button type="submit" class="btn btn-primary">Calculate Transit Time</button>
            }

            @if (ViewBag.TransitTimeInfo != null)
            {
                <div class="mt-3">
                    <div class="card bg-info text-white">
                        <div class="card-body">
                            <h5 class="card-title">Transit Time Information</h5>
                            <p class="card-text">Latest Time of Booking: @ViewBag.TransitTimeInfo["se.posten.loab.lisp.notis.publicapi.serviceapi.TransitTimeResponse"]["transitTimes"][0]["latestTimeOfBooking"]</p>
                            <p class="card-text">Delivery Time: @ViewBag.TransitTimeInfo["se.posten.loab.lisp.notis.publicapi.serviceapi.TransitTimeResponse"]["transitTimes"][0]["deliveryTime"]</p>
                            <p class="card-text">Delivery Date: @ViewBag.TransitTimeInfo["se.posten.loab.lisp.notis.publicapi.serviceapi.TransitTimeResponse"]["transitTimes"][0]["deliveryDate"]</p>
                            <p class="card-text">Transit time in days: @ViewBag.TransitTimeInfo["se.posten.loab.lisp.notis.publicapi.serviceapi.TransitTimeResponse"]["transitTimes"][0]["transitTimeInDays"]</p>
                        </div>
                    </div>
                </div>
            }
            else if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="mt-3">
                    <div class="card bg-danger text-white">
                        <div class="card-body">
                            <h5 class="card-title">Error</h5>
                            <p class="card-text">@ViewBag.ErrorMessage</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
